<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.coupon.mapper.CouponMapper">

    <select id="selectCouponList" resultType="com.coupon.domain.Coupon">
        SELECT * FROM coupon
    </select>
     
    <select id="pagingCouponList" parameterType="int" resultType="com.coupon.domain.Coupon">
		SELECT * FROM coupon LIMIT #{(page - 1) * 10}, #{10}
	</select>
     
    <select id="checkRegistedEmail" parameterType="String" resultType="com.coupon.domain.Coupon">
        SELECT * FROM coupon WHERE email = #{email}
    </select>
    
    <select id="checkRegistedCoupon" parameterType="String" resultType="com.coupon.domain.Coupon">
        SELECT couponCode FROM coupon WHERE couponCode = #{couponCode}
    </select>  
    
    <insert id="insertCoupon" parameterType="com.coupon.domain.Coupon">
        insert into coupon
            values
        (#{id},#{email},#{couponCode},now(),now()+7)
    </insert>

    

    
</mapper>


